    html{
    margin: 0;
    padding: 0;
    }

    body{
        position: relative;
    }

    .logo{
    margin-left: 770px;
    margin-top: 150px;
    z-index: -1;
    }

    .socials{

    margin-top: 10px;
    margin-left: 1200px;
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 1;
    }

    .scheda3{
    position: absolute;
    border-style: groove;
    z-index:2;
    background-color: beige;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 530px;
    margin-right: 200px;
    height: 450px;
    width: 800px;

    }

    .scheda2{
    z-index: 3;
    position: absolute;
    background-color: lightcoral;
    border-style:groove;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 550px;
    margin-right: 180px;
    height: 450px;
    width: 800px;

    }

    /*scheda on top */
    .scheda1{
    z-index: 4;
    position: absolute; 
    background-color: lightyellow;
    border-style:groove;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 570px;
    margin-right: 160px;
    height: 450px;
    width: 800px;
    }

    .scheda3:hover{
    z-index: 5;

    }

    .scheda2:hover{
    z-index: 5;
    }

    .home{
        position: absolute;
    }
    .footer{
        width: 400px;
        margin-top: 610px;
        margin-left: 1520px;
        position: absolute;
    }
    .socials-img{
        height: 60px;
        width: 60px;
        padding: 12px;
        
    }
    .socials-img:hover{
        transform: translateY(-5px);
    }

    .infos{
        height: 140px;
        width: 400px;
        margin-top: 600px;
        margin-left: 20px;
        position: absolute;
    }

    .question{
        text-decoration: underline;
    }

    .question:hover{
        font-size:larger;   
    }

    .app-title{
        font-size: 52px;
        text-align: center;
        font-weight: 600px;
    }

    .app-body{
        margin-left: 40px;
    }

    .requirements{
        text-decoration: underline;
        margin-top: 20px; 
    }
